section.about
	+about-card(
		'Платформа <span>Enterprise уровня</span>',
		'ENTERPRISE-LEVEL',
		'<p>AutoFAQ разработан для крупных и <br> средних компаний с учетом необходимых требований к безопасности, отказоустойчивости, ' +
			'возможности <br> облачного и on-premise развертывания, а <br> также горизонтального и вертикального масштабирования.</p>' +
			'<p>Интеллектуальное ядро предоставляет <br> ответы в течение 200 мс и адаптировано <br> под высоконагруженную клиентскую <br> поддержку ' +
			'массовых B2C сервисов с миллионами обращений в месяц.</p>',
		'1',
		'about__item'
	)
	+about-card(
		'Безграничные <span>возможности интеграций</span>',
		'настройка',
		'<p>Внутренний DSL язык AutoFAQ <br> поддерживает выполнение REST, <br> SOAP и SQL запросов к внешним <br> системам, а также, ' +
			'возможность <br> использовать JavaScript для <br> обработки данных внутри сценариев.</p>' +
			'<p>С помощью AutoFAQ возможно роботизировать поддержку любой сложности. От простых вопросно-ответных систем до ' +
			'многоступенчатых диалоговых сценариев с подключением к CRM, SD, биллинговым и иным внешним системам. Встроенный интеграционный ' +
			'RPA модуль позволяет создавать интеграции без доработок системы на основе событийной модели.</p>',
		'2',
		'about-card--blue about__item'
	)