section.advantages
	+advantages-card(
		'1',
		'Контактный <br> чат-центр',
		'<p>Объедините все каналы коммуникаций с <br> клиентами или сотрудниками в едином окне <br> оператора в AutoFAQ: мессенджеры, <br>' +
			'социальные сети, чат на сайте / корпоративном <br> портале, e-mail и мобильное приложение.</p>' +
			'<p>Работа операторов в составе платформы <br> AutoFAQ делает невозможным провал проекта <br> по внедрению чат бота. ' +
			'С первого дня обучение <br> баз знаний происходит только на основе <br> реальных запросов и ответов людей. ' +
			'Это <br> позволяет сформировать максимальный <br> уровень доверия со стороны клиентов к чат боту.</p>',
		'advantages__item'
	)
	+advantages-card(
		'2',
		'База знаний',
		'<p>Лучший на рынке искусственный интеллект* на <br> основе нейронных сетей понимает свободно сформулированные вопросы и ответы. ' +
		'AutoFAQ <br> работает по смыслу, а не по ключевым словам. <br> Поэтому для настройки и работы с базами знаний не нужны программисты и лингвисты.</p>' +
		'<p>Для старта достаточно загрузить в базу знаний FAQ в формате Excel или система обучится самостоятельно <br> на основе работы операторов.</p>' +
		'<p>* КРОК, сентябрь 2021 - Сравниваем качество SaaS-систем в задаче распознавания интентов vs Google, <br> MS, IBM, Cognigy ' +
		'<a href="https://habr.com/ru/company/croc/blog/580590/" target="_blank">https://habr.com/ru/company/croc/blog/580590/</a></p>',
		'advantages-card--blue advantages__item'
	)
	+advantages-card(
		'3',
		'Чат-бот',
		'<p>AutoFAQ автоматически отвечает или уточняет поступивший вопрос, если система уверена в ответе. Если нет, то AutoFAQ переводит ' +
			'вопрос на оператора, предлагает ему подсказки в режиме суфлера, а также поддерживает отображение всей необходимой ' +
			'информации о клиенте из CRM, SD и других систем.</p>' +
			'<p>Вы самостоятельно управляете уровнем уверенности искусственного интеллекта для автоматического ответа.' +
			'А встроенный модуль для роботизации позволяет создавать сценарии любой сложности и полностью снять с оператора ' +
			'выполнение рутинных действий.</p>',
		'advantages-card--blue advantages__item'
	)