section.benefits(style='background-image: url("images/benefits/2.jpg")')
	.container
		.benefits__title Benefits
	.benefits__wrapper
		button.benefits__btn
			+icon('refresh')(width='16', height='16')
		.benefits__col
			.benefits__accordion
				.benefits__accordion-item.active
					.benefits__accordion-image
						img(src='images/benefits/5.png', alt='')
					.benefits__accordion-wrapper
						p Запуск от 2 дней даже без базы
						p(style='display: block') Не нужны обучающие выборки и долгая подготовка. База формируется динамически
				.benefits__accordion-item
					.benefits__accordion-image
						img(src='images/benefits/3.png', alt='')
					.benefits__accordion-wrapper
						p Богатые языковые модели
						p Не нужны обучающие выборки и долгая подготовка. База формируется динамически
				.benefits__accordion-item
					.benefits__accordion-image
						img(src='images/benefits/4.png', alt='')
					.benefits__accordion-wrapper
						p Готовые базы знаний
						p Не нужны обучающие выборки и долгая подготовка. База формируется динамически
			+benefits-card('337%', 'ROI', 'Менее 6 месяцев для окупаемости инвестиций и обеспечивает 337% ROI', 'benefits__item')(style='background-color: #43cda3')
			+benefits-card('6X', 'быстрее', 'Сокращаем время ответа оператором в 6 раз', 'benefits__item benefits__item--mobile')(style='background-color: #255EC1')
			+benefits-card('3X', 'больше', 'Для финансовых сервисов, ритейл, еком, телеком база знаний есть на старте', 'benefits-card--glass benefits__item')
		.benefits__col
			.benefits__item.benefits__item--empty(style='background-image: url("images/benefits/1.png")')
			+benefits-card('6X', 'быстрее', 'Сокращаем время ответа оператором в 6 раз', 'benefits__item benefits__item--desk')(style='background-color: #255EC1')
