section.brands
	.container.brands__container
		.topic.brands__topic лидеры рынка
		.brands__text Лидеры рынка уже делают клиентский сервис лучше
		.brands__text.brands__text--right А команду эффективнее <br> с Autofaq
	.brands__marquee.brands__marquee--mt.js-marquee-1
		.brands__marquee-item
			+icon('alpha')(width='199', height='51')
		.brands__marquee-item
			+icon('skyeng')(width='123', height='53')
		.brands__marquee-item.brands__marquee-item--big
			+icon('rostelekom')(width='174', height='51')
		.brands__marquee-item
			+icon('megafon')(width='182', height='51')
		.brands__marquee-item
			+icon('skyeng')(width='123', height='53')
	.brands__marquee.js-marquee-2
		.brands__marquee-item
			+icon('raif')(width='163', height='51')
		.brands__marquee-item.brands__marquee-item--big
			+icon('alpha')(width='199', height='51')
		.brands__marquee-item
			+icon('skyeng')(width='123', height='53')
		a.brands__marquee-item.brands__marquee-item--green(href='#', target='_blank') Смотреть кейсы
		.brands__marquee-item.brands__marquee-item--big
			+icon('skyeng')(width='123', height='53')