section.clients
	.clients__bg
		.clients__title
			p <span>Client</span> stories
	.clients__grid
		.clients__flex
			.clients-card.clients__item
				.clients-card__client
					.clients-card__client-name Фосагро
					.clients-card__client-logo
						div
							+icon('fosagro')(width='190', height='142')
						.clients-card__toggle
					.clients-card__inner
						.clients-card__top
							.clients-card__title <span>Клиентская техническая поддержка</span> B2B и B2C сервисов
							.clients-card__icon
								+icon('rostelekom-2')(width='62', height='102')
						.clients-card__middle
							.clients-card__person
								.clients-card__avatar
									img(src='images/clients/1.jpg', srcset='images/clients/1@2x.jpg 2x', alt='')
								.clients-card__author
									p Михаил Осеевский
									p CEO
							.clients-card__comment «Внедрение Autofaq в наши процессы позволио освободить от рутины более
								|  половины состава техподдержки, а также существенно улучшить NPS. Как известно, это единственный
								|  показатель, за которым надо следить, чтобы бизнес рос уверенно и быстро»
						.clients-card__bottom
							.clients-card__bottom-item
								p ₽20М
								p Годовая экономия на ФОТ
							.clients-card__bottom-item
								p NPS до 30
								p Рост NPS с -4 <br> до 30 за 6 <br> месяйв
			.clients-card.clients__item
				.clients-card__client
					.clients-card__client-name PWC
					.clients-card__client-logo
						div
							+icon('pwc')(width='193', height='146')
						.clients-card__toggle
					.clients-card__inner
						.clients-card__top
							.clients-card__title <span>Клиентская техническая поддержка</span> B2B и B2C сервисов
							.clients-card__icon
								+icon('rostelekom-2')(width='62', height='102')
						.clients-card__middle
							.clients-card__person
								.clients-card__avatar
									img(src='images/clients/1.jpg', srcset='images/clients/1@2x.jpg 2x', alt='')
								.clients-card__author
									p Михаил Осеевский
									p CEO
							.clients-card__comment «Внедрение Autofaq в наши процессы позволио освободить от рутины более
								|  половины состава техподдержки, а также существенно улучшить NPS. Как известно, это единственный
								|  показатель, за которым надо следить, чтобы бизнес рос уверенно и быстро»
						.clients-card__bottom
							.clients-card__bottom-item
								p ₽20М
								p Годовая экономия на ФОТ
							.clients-card__bottom-item
								p NPS до 30
								p Рост NPS с -4 <br> до 30 за 6 <br> месяйв
			.clients-card.clients__item
				.clients-card__client
					.clients-card__client-name Фосагро
					.clients-card__client-logo
						div
							+icon('fosagro')(width='190', height='142')
						.clients-card__toggle
					.clients-card__inner
						.clients-card__top
							.clients-card__title <span>Клиентская техническая поддержка</span> B2B и B2C сервисов
							.clients-card__icon
								+icon('rostelekom-2')(width='62', height='102')
						.clients-card__middle
							.clients-card__person
								.clients-card__avatar
									img(src='images/clients/1.jpg', srcset='images/clients/1@2x.jpg 2x', alt='')
								.clients-card__author
									p Михаил Осеевский
									p CEO
							.clients-card__comment «Внедрение Autofaq в наши процессы позволио освободить от рутины более
								|  половины состава техподдержки, а также существенно улучшить NPS. Как известно, это единственный
								|  показатель, за которым надо следить, чтобы бизнес рос уверенно и быстро»
						.clients-card__bottom
							.clients-card__bottom-item
								p ₽20М
								p Годовая экономия на ФОТ
							.clients-card__bottom-item
								p NPS до 30
								p Рост NPS с -4 <br> до 30 за 6 <br> месяйв
			.clients-card.clients__item
				.clients-card__client
					.clients-card__client-name Сколково
					.clients-card__client-logo
						div
							+icon('sk')(width='152', height='128')
						.clients-card__toggle
					.clients-card__inner
						.clients-card__top
							.clients-card__title <span>Клиентская техническая поддержка</span> B2B и B2C сервисов
							.clients-card__icon
								+icon('rostelekom-2')(width='62', height='102')
						.clients-card__middle
							.clients-card__person
								.clients-card__avatar
									img(src='images/clients/1.jpg', srcset='images/clients/1@2x.jpg 2x', alt='')
								.clients-card__author
									p Михаил Осеевский
									p CEO
							.clients-card__comment «Внедрение Autofaq в наши процессы позволио освободить от рутины более
								|  половины состава техподдержки, а также существенно улучшить NPS. Как известно, это единственный
								|  показатель, за которым надо следить, чтобы бизнес рос уверенно и быстро»
						.clients-card__bottom
							.clients-card__bottom-item
								p ₽20М
								p Годовая экономия на ФОТ
							.clients-card__bottom-item
								p NPS до 30
								p Рост NPS с -4 <br> до 30 за 6 <br> месяйв
			.clients-card.clients__item
				.clients-card__client
					.clients-card__client-name Мегафон
					.clients-card__client-logo
						div
							+icon('megafon-2')(width='383', height='69')
						.clients-card__toggle
					.clients-card__inner
						.clients-card__top
							.clients-card__title <span>Клиентская техническая поддержка</span> B2B и B2C сервисов
							.clients-card__icon
								+icon('rostelekom-2')(width='62', height='102')
						.clients-card__middle
							.clients-card__person
								.clients-card__avatar
									img(src='images/clients/1.jpg', srcset='images/clients/1@2x.jpg 2x', alt='')
								.clients-card__author
									p Михаил Осеевский
									p CEO
							.clients-card__comment «Внедрение Autofaq в наши процессы позволио освободить от рутины более
								|  половины состава техподдержки, а также существенно улучшить NPS. Как известно, это единственный
								|  показатель, за которым надо следить, чтобы бизнес рос уверенно и быстро»
						.clients-card__bottom
							.clients-card__bottom-item
								p ₽20М
								p Годовая экономия на ФОТ
							.clients-card__bottom-item
								p NPS до 30
								p Рост NPS с -4 <br> до 30 за 6 <br> месяйв

