section.first-screen
	.first-screen__3d#container3d
		.first-screen__3d-preloader
			.lds-spinner
				div
				div
				div
				div
				div
				div
				div
				div
				div
				div
				div
				div

	//-	#model3d
	//-.first-screen__bg
		img(src='images/ball.png', srcset='images/ball@2x.png 2x', alt='')

	.first-screen__slider
		#myTurntable.turntable
			ul
				li(data-img-src='images/ball/1.png')
				li(data-img-src='images/ball/2.png')
				li(data-img-src='images/ball/3.png')
				li(data-img-src='images/ball/4.png')
				li(data-img-src='images/ball/5.png')
				li(data-img-src='images/ball/6.png')
				li(data-img-src='images/ball/7.png')
				li(data-img-src='images/ball/8.png')
				li(data-img-src='images/ball/9.png')
				li(data-img-src='images/ball/10.png')
				li(data-img-src='images/ball/11.png')
				li(data-img-src='images/ball/12.png')
				li(data-img-src='images/ball/13.png')
				li(data-img-src='images/ball/14.png')
				li(data-img-src='images/ball/15.png')
				li(data-img-src='images/ball/16.png')
				li(data-img-src='images/ball/17.png')
				li(data-img-src='images/ball/18.png')
				li(data-img-src='images/ball/19.png')
				li(data-img-src='images/ball/20.png')
				li(data-img-src='images/ball/21.png')
				li(data-img-src='images/ball/22.png')
				li(data-img-src='images/ball/23.png')
				li(data-img-src='images/ball/24.png')
				li(data-img-src='images/ball/25.png')
				li(data-img-src='images/ball/26.png')
	.container
		.first-screen__title
			span Autofaq
			span Autofaq
	.first-screen__content
		.container
			.first-screen__bg.first-screen__bg--mobile
				img(src='images/ball-mob.png', srcset='images/ball-mob@2x.png 2x', alt='')
			.first-screen__text Обработаем в 3 раза больше обращений без увеличения штата
			.first-screen__bottom
				+button('Пообщаться с Autofaq.ai', 'button--green first-screen__connect', '#')
				+button('Запросить демо', 'button--blue first-screen__demo', '#')
				.first-screen__partner
					+icon('resident')(width='68', height='51')
					span Autofaq — резидент инновационного центра «Сколково»
