section.first-screen
	.first-screen__3d#container3d
		.first-screen__3d-preloader
			.lds-spinner
				div
				div
				div
				div
				div
				div
				div
				div
				div
				div
				div
				div

	//-	#model3d
	//-.first-screen__bg
		img(src='images/ball.png', srcset='images/ball@2x.png 2x', alt='')
	.container
		.first-screen__title
			span Autofaq
			span Autofaq
	.first-screen__content
		.container
			.first-screen__bg.first-screen__bg--mobile
				img(src='images/ball-mob.png', srcset='images/ball-mob@2x.png 2x', alt='')
			.first-screen__text Обработаем в 3 раза больше обращений без увеличения штата
			.first-screen__bottom
				+button('Пообщаться с Autofaq.ai', 'button--green first-screen__connect', '#')
				+button('Запросить демо', 'button--blue first-screen__demo', '#')
				.first-screen__partner
					+icon('resident')(width='68', height='51')
					span Autofaq — резидент инновационного центра «Сколково»
