section.forecast
	.forecast__wrapper
		span.forecast__marquee Get in touch
		+button('оставить заявку', 'button--green forecast__request', '#')
		.forecast__col
			.topic.forecast__topic прогноз
		.forecast__col
			.forecast__text Рост удовлетворённости клиентов всего на 10-20% может дать рост годовой выручки до 30%
		.forecast__col
			.forecast__percent
				p 30%
				p Рост выручки <br> за год
	.forecast__wrapper.forecast__wrapper--mobile
		.topic.forecast__topic прогноз
		.forecast__text Рост удовлетворённости клиентов всего на 10-20% может дать рост годовой выручки до 30%
		.forecast__grid
			.forecast__grid-col
				.forecast__percent
					p 30%
					p
			.forecast__grid-col
				.forecast__percent
					p
					p Рост выручки <br> за год
			.forecast__bottom
				span Get in touch
				+button('оставить заявку', 'button--green forecast__request forecast__request--mobile', '#')