section.forecast
	.forecast__wrapper
		+button('оставить заявку', 'button--green forecast__request', '#')
		.forecast__col(style='z-index: 2')
			.topic.forecast__topic прогноз
			.forecast__diag
			span.forecast__marquee.forecast__marquee--dark Get in touch
		.forecast__col(style='z-index: 1')
			.forecast__text Рост удовлетворённости клиентов всего на 10-20% может дать рост годовой выручки до 30%
			.forecast__diag
			span.forecast__marquee.forecast__marquee--white-1 Get in touch
		.forecast__col
			.forecast__percent
				p 30%
				p Рост выручки <br> за год
			.forecast__diag.forecast__diag--zi
			span.forecast__marquee.forecast__marquee--white-2 Get in touch
	.forecast__wrapper.forecast__wrapper--mobile
		.topic.forecast__topic прогноз
		.forecast__text Рост удовлетворённости клиентов всего на 10-20% может дать рост годовой выручки до 30%
		.forecast__grid
			.forecast__grid-col
				.forecast__percent
					p 30%
					p
			.forecast__grid-col
				.forecast__percent
					p
					p Рост выручки <br> за год
			.forecast__bottom
				span Get in touch
				+button('оставить заявку', 'button--green forecast__request forecast__request--mobile', '#')