section.languages
	.container
		.languages__title Languages
		.languages__row
			p Общий язык  с каждым
			.languages__text.languages__text--mobile AI алгоритм Autofaq позволяет общаться с клиентами и сотрудниками на 90 языках, понимая смысл
			.languages__model
				img(src='images/earth.png', srcset='images/earth@2x.png 2x', alt='')
			.languages__list
				ul.swiper-container.__js_slider-language
					.swiper-wrapper
						li.swiper-slide.active
							a(href='#') Английский
						li.swiper-slide
							a(href='#') Польский
						li.swiper-slide
							a(href='#') Турецкий
						li.swiper-slide
							a(href='#') Тайский
						li.swiper-slide
							a(href='#') Турецкий
						li.swiper-slide
							a(href='#') Тайский
						li.swiper-slide
							a(href='#') Польский
						li.swiper-slide
							a(href='#') Испанский
						li.swiper-slide
							a(href='#') Польский
						li.swiper-slide
							a(href='#') Испанский
						li.swiper-slide
							a(href='#') Тайский
						li.swiper-slide
							a(href='#') Корейский
		.languages__text AI алгоритм Autofaq позволяет общаться с клиентами и сотрудниками на 90 языках, понимая смысл