section.nlu
	.container
		.topic.nlu__topic State-of-the-art NLU
		.nlu__title.nlu__title--mobile NLU
		.nlu__subtitle NLU Autofaq – лидирующий алгоритм обработки и понимания естественного языка
		.nlu__wrapper.nlu__wrapper--title
			.nlu__col
			.nlu__col
				.nlu__title NLU
		.nlu__wrapper
			.nlu__col
				.nlu__table
					.nlu__table-header
						p HWU64-10
						p по 10 обучающих примеров на каждый из 64 интентов
					.nlu__slider.__js_slider-table
						.swiper-wrapper
							+button('Autofaq', 'swiper-slide nlu__btn-check active')(data-label='Autofaq')
							+button('Cognigy', 'swiper-slide nlu__btn-check')(data-label='Cognigy')
							+button('Google', 'swiper-slide nlu__btn-check')(data-label='Google')
							+button('Microsoft', 'swiper-slide nlu__btn-check')(data-label='Microsoft')
							+button('IBM', 'swiper-slide nlu__btn-check')(data-label='IBM')
					table
						thead
							tr
								th
								th Autofaq
								th Cognigy
								th Google
								th Microsoft
								th IBM
						tbody
							tr
								td Точность
								td 0.802
								td 0.776
								td 0.640
								td 0.673
								td 0.776
							tr
								td F1-макро
								td 0.786
								td 0.771
								td 0.649
								td 0.657
								td 0.761
			.nlu__col
				.nlu__table
					.nlu__table-header
						p HWU64-10
						p по 30 обучающих примеров на каждый из 64 интентов
					.nlu__slider.__js_slider-table
						.swiper-wrapper
							+button('Autofaq', 'swiper-slide nlu__btn-check active')
							+button('Cognigy', 'swiper-slide nlu__btn-check')
							+button('Google', 'swiper-slide nlu__btn-check')
							+button('Microsoft', 'swiper-slide nlu__btn-check')
							+button('IBM', 'swiper-slide nlu__btn-check')
					table
						thead
							tr
								th
								th Autofaq
								th Cognigy
								th Google
								th Microsoft
								th IBM
						tbody
							tr
								td Точность
								td 0.851
								td 0.842
								td 0.756
								td 0.782
								td 0.855
							tr
								td F1-макро
								td 0.858
								td 0.771
								td 0.649
								td 0.657
								td 0.761
				.nlu__more
					p Преимущество NLU-алгоритма Autofaq  было подтверждено  исследователями при помощи датасета HWU64.
					.nlu__more-btn
						+button('Подробнее об исследовани', '', '#')