footer.footer
	.container.footer__container
		.footer__part.footer__part--1
			.footer__logo
				+icon('logo')(width='249', height='62')
		.footer__part.footer__part--2.footer__part--mb
			ul
				li.bold
					a(href='#', target='_blank') О сервисе
				li.bold
					a(href='#', target='_blank') Кейсы внедрений
				li.bold
					a(href='#', target='_blank') Тарифы
			ul
				li.bold
					a(href='#', target='_blank') Компоненты
				li
					a(href='#', target='_blank') Контактный чат-центр
				li
					a(href='#', target='_blank') Базы знаний
				li
					a(href='#', target='_blank') Чат-бот
		.footer__part.footer__part--3.footer__part--mb
			ul
				li.bold
					a(href='#', target='_blank') Индустрии
				li
					a(href='#', target='_blank') Финансовые сервисы
				li
					a(href='#', target='_blank') Ритейл & e-commerce
				li
					a(href='#', target='_blank') Телеком
				li
					a(href='#', target='_blank') Образование
			ul
				li.bold
					a(href='#', target='_blank') Usecases
				li
					a(href='#', target='_blank') Клиентская поддержка
				li
					a(href='#', target='_blank') IT-поддержка
				li
					a(href='#', target='_blank') HR-поддержка
				li
					a(href='#', target='_blank') Поддержка розничной сети, <br> проектных команд
		.footer__part.footer__part--1.footer__part--logo
			+icon('resident-2')(width='108', heigth='80')
			p.footer__logo-caption Autofaq — резидент инновационного центра «Сколково»
		.footer__part.footer__part--2
			ul
				li.bold
					a(href='#', target='_blank') Ресурсы
				li
					a(href='#', target='_blank') FAQ по системе
				li
					a(href='#', target='_blank') Что нового
				li
					a(href='#', target='_blank') Документация
				li
					a(href='#', target='_blank') Безопасность
				li
					a(href='#', target='_blank') Интеграции
			ul
				li.bold
					a(href='#', target='_blank') Компания
				li
					a(href='#', target='_blank') О компании
				li
					a(href='#', target='_blank') Новости и события
				li
					a(href='#', target='_blank') Мы в СМИ
				li
					a(href='#', target='_blank') Карьера
				li
					a(href='#', target='_blank') Партнерам
				li
					a(href='#', target='_blank') Контактная информация
		.footer__part.footer__part--3
			+button('Начнем диалог', 'footer__btn')
	.container.footer__container.footer__container--mt
		.footer__part.footer__part--1
			.footer__bottom-text © 2019—2021 Autofaq. <br> All rights reserved
		.footer__part.footer__part--2
			.footer__bottom-text Terms of Use & Privacy Policy
		.footer__part.footer__part--3.footer__part--right
			.footer__bottom-text Digital partner — Tiqum
