header.header
	.container.header__container
		.header__about Cервис для роботизации службы поддержки клиентов или сотрудников в цифровых
			|  каналах с помощью искусственного интеллекта
		include ../partials/menu.pug
		.header__demo
			+button('Запросить демо', '', '#')
