aside.sidebar
	.sidebar__smile
		+icon('smile')
	.sidebar__burger-wrapper
		.sidebar__burger
	+lang-switcher('sidebar__lang-switcher')
	ul.sidebar__menu
		li
			a(href='#', target='_blank') Продукт
			.sidebar__menu-inner
				.sidebar__menu-content
					.sidebar__menu-content-wrapper
						ul
							li Autofaq.ai
							li
								a(href='#', target='_blank') О сервисе
							li
								a(href='#', target='_blank') Кейсы внедрений
							li
								a(href='#', target='_blank') Тарифы
						ul
							li Компоненты
							li
								a(href='#', target='_blank') Контактный чат-центр
							li
								a(href='#', target='_blank') Базы знаний
							li
								a(href='#', target='_blank') Чат-бот
					.sidebar__menu-content-wrapper.sidebar__menu-content-wrapper--bottom
						.sidebar__present
							.sidebar__present-caption Презентация продукта
							.sidebar__present-image
								img(src='images/present.png', alt='')
							.sidebar__present-text
								p Краткий видеообзор основных возможностей Autofaq
								p
									a(href='#', target='_blank') Смотреть
				.sidebar__menu-image
					img(src='images/bg-menu.jpg', alt='')
					+button('Оставить заявку', 'button--green sidebar__request-btn', '#')
		li
			a(href='#', target='_blank') Продукт
			.sidebar__menu-inner
				.sidebar__menu-content
					.sidebar__menu-content-wrapper
						ul
							li Autofaq.ai
							li
								a(href='#', target='_blank') О сервисе
							li
								a(href='#', target='_blank') Кейсы внедрений
							li
								a(href='#', target='_blank') Тарифы
						ul
							li Компоненты
							li
								a(href='#', target='_blank') Контактный чат-центр
							li
								a(href='#', target='_blank') Базы знаний
							li
								a(href='#', target='_blank') Чат-бот
					.sidebar__menu-content-wrapper.sidebar__menu-content-wrapper--bottom
						.sidebar__present
							.sidebar__present-caption Презентация продукта
							.sidebar__present-image
								img(src='images/present.png', alt='')
							.sidebar__present-text
								p Краткий видеообзор основных возможностей Autofaq
								p
									a(href='#', target='_blank') Смотреть
				.sidebar__menu-image
					img(src='images/bg-menu.jpg', alt='')
					+button('Оставить заявку', 'button--green sidebar__request-btn', '#')
		li
			a(href='#', target='_blank') Продукт
			.sidebar__menu-inner
				.sidebar__menu-content
					.sidebar__menu-content-wrapper
						ul
							li Autofaq.ai
							li
								a(href='#', target='_blank') О сервисе
							li
								a(href='#', target='_blank') Кейсы внедрений
							li
								a(href='#', target='_blank') Тарифы
						ul
							li Компоненты
							li
								a(href='#', target='_blank') Контактный чат-центр
							li
								a(href='#', target='_blank') Базы знаний
							li
								a(href='#', target='_blank') Чат-бот
					.sidebar__menu-content-wrapper.sidebar__menu-content-wrapper--bottom
						.sidebar__present
							.sidebar__present-caption Презентация продукта
							.sidebar__present-image
								img(src='images/present.png', alt='')
							.sidebar__present-text
								p Краткий видеообзор основных возможностей Autofaq
								p
									a(href='#', target='_blank') Смотреть
				.sidebar__menu-image
					img(src='images/bg-menu.jpg', alt='')
					+button('Оставить заявку', 'button--green sidebar__request-btn', '#')
		li
			a(href='#', target='_blank') Продукт
			.sidebar__menu-inner
				.sidebar__menu-content
					.sidebar__menu-content-wrapper
						ul
							li Autofaq.ai
							li
								a(href='#', target='_blank') О сервисе
							li
								a(href='#', target='_blank') Кейсы внедрений
							li
								a(href='#', target='_blank') Тарифы
						ul
							li Компоненты
							li
								a(href='#', target='_blank') Контактный чат-центр
							li
								a(href='#', target='_blank') Базы знаний
							li
								a(href='#', target='_blank') Чат-бот
					.sidebar__menu-content-wrapper.sidebar__menu-content-wrapper--bottom
						.sidebar__present
							.sidebar__present-caption Презентация продукта
							.sidebar__present-image
								img(src='images/present.png', alt='')
							.sidebar__present-text
								p Краткий видеообзор основных возможностей Autofaq
								p
									a(href='#', target='_blank') Смотреть
				.sidebar__menu-image
					img(src='images/bg-menu.jpg', alt='')
					+button('Оставить заявку', 'button--green sidebar__request-btn', '#')
		li
			a(href='#', target='_blank') Продукт
			.sidebar__menu-inner
				.sidebar__menu-content
					.sidebar__menu-content-wrapper
						ul
							li Autofaq.ai
							li
								a(href='#', target='_blank') О сервисе
							li
								a(href='#', target='_blank') Кейсы внедрений
							li
								a(href='#', target='_blank') Тарифы
						ul
							li Компоненты
							li
								a(href='#', target='_blank') Контактный чат-центр
							li
								a(href='#', target='_blank') Базы знаний
							li
								a(href='#', target='_blank') Чат-бот
					.sidebar__menu-content-wrapper.sidebar__menu-content-wrapper--bottom
						.sidebar__present
							.sidebar__present-caption Презентация продукта
							.sidebar__present-image
								img(src='images/present.png', alt='')
							.sidebar__present-text
								p Краткий видеообзор основных возможностей Autofaq
								p
									a(href='#', target='_blank') Смотреть
				.sidebar__menu-image
					img(src='images/bg-menu.jpg', alt='')
					+button('Оставить заявку', 'button--green sidebar__request-btn', '#')
		li
			a(href='#', target='_blank') Продукт
			.sidebar__menu-inner
				.sidebar__menu-content
					.sidebar__menu-content-wrapper
						ul
							li Autofaq.ai
							li
								a(href='#', target='_blank') О сервисе
							li
								a(href='#', target='_blank') Кейсы внедрений
							li
								a(href='#', target='_blank') Тарифы
						ul
							li Компоненты
							li
								a(href='#', target='_blank') Контактный чат-центр
							li
								a(href='#', target='_blank') Базы знаний
							li
								a(href='#', target='_blank') Чат-бот
					.sidebar__menu-content-wrapper.sidebar__menu-content-wrapper--bottom
						.sidebar__present
							.sidebar__present-caption Презентация продукта
							.sidebar__present-image
								img(src='images/present.png', alt='')
							.sidebar__present-text
								p Краткий видеообзор основных возможностей Autofaq
								p
									a(href='#', target='_blank') Смотреть
				.sidebar__menu-image
					img(src='images/bg-menu.jpg', alt='')
					+button('Оставить заявку', 'button--green sidebar__request-btn', '#')