.about-card {
	$parent: &;
	overflow: hidden;

	display: flex;
	flex-direction: column;
	justify-content: space-between;
	height: 918px;
	background-color: $white;
	padding: 50px 57px 54px;
	position: relative;
	@include max(xl) {
		padding: 50px 30px 54px;
	}
	@include max(lg) {
		justify-content: flex-start;
		height: auto;
		padding: 24px 16px 20px;
	}

	&__top {
		display: flex;
		justify-content: space-between;

		@include max(lg) {
			flex-direction: column;
			padding-right: 25px;
		}
	}

	&__title {
		max-width: 470px;
		font-size: 48px;
		line-height: 52px;
		letter-spacing: -1.4px;
		margin-right: 20px;

		@include max(lg) {
			font-size: 24px;
			line-height: 24px;
			letter-spacing: -0.4px;
			order: 1;
			margin-top: 13px;
		}

		span {
			color: $blue-25;
		}
	}

	&__topic {
		font-size: 13px;
		line-height: 15px;
		font-weight: 600;
		letter-spacing: 0.025em;
		text-transform: uppercase;
		padding-top: 15px;

		@include max(lg) {
			font-size: 10px;
			line-height: 12px;
			padding-top: 0;
		}
	}

	&__bg {
		position: absolute;
		top: 26%;
		right: 0;

		@include max(lg) {
			position: relative;
			top: 0;
			right: -18px;
			margin-top: 60px;
		}

		@include max(sm) {
			margin-top: 28px;
		}

		img {
			@include max(lg) {
				max-width: 300px;
				width: 75%;
				margin-left: auto;
			}
		}
	}

	&__text {
		max-width: 380px;
		font-size: 16px;
		line-height: 130.3%;
		color: rgba($black-0d, 0.48);

		@include max(lg) {
			max-width: 100%;
			font-size: 12px;
			line-height: 140.3%;
			letter-spacing: -0.015em;
			color: $gray-9e;
			margin-top: 60px;
		}

		@include max(sm) {
			margin-top: 18px;
		}

		br {
			@include max(lg) {
				display: none;
			}
		}

		p + p {
			margin-top: 22px;

			@include max(lg) {
				margin-top: 18px;
			}
		}
	}

	&--blue {
		background-color: $blue-25;
		height: 918px;
		padding: 38px 57px 67px;
		@include max(xl) {
			padding: 38px 30px 67px;
		}
		@include max(lg) {
			height: auto;
			padding: 24px 16px 20px;
		}

		#{$parent} {
			&__title {
				color: $white;

				span {
					color: rgba($white, 0.28);
				}
			}

			&__topic {
				color: $white;
			}

			&__bg {
				top: 20.5%;

				@include max(lg) {
					top: 0;
				}
			}

			&__text {
				color: rgba($white, 0.48);

				@include max(lg) {
					color: $white;
				}
			}
		}
	}
}