.advantages {
	display: flex;
	align-items: flex-start;
	background-color: $blue-25;
	padding-bottom: 340px;

	@include max(lg) {
		flex-direction: column;
		padding-bottom: 0;
	}

	&__item {
		width: 33.3333%;

		@include max(lg) {
			width: 100%;
		}
	}
}