.features {
	$parent: &;

	min-height: 1059px;
	background-color: $blue-25;
	background-repeat: no-repeat;
	background-position: bottom;
	padding: 53px 0 123px;
	position: relative;
	overflow: hidden;

	@include max(lg) {
		min-height: auto;
		padding: 40px 0 80px;
		background-position: center 180px;
		background-size: calc(100% + 200px);
	}

	@include max(sm) {
		padding: 12px 0 50px;
	}

	&__topic {
		@include max(lg) {
			display: none;
		}
	}

	&__slider {
		padding-top: 67px;
		position: relative;
		margin-right: 112px;

		@include max(xl) {
			margin-right: 0;
		}

		@include max(lg) {
			padding-top: 0;
		}
	}

	&__slide {
		display: flex;
		justify-content: space-between;
		cursor: pointer;

		@include max(lg) {
			flex-direction: column;
			justify-content: flex-start;
		}
	}

	&__counter {
		display: flex;
		align-items: center;
		position: absolute;
		top: 0;
		right: 128px;
		font-family: $secondFont;
		font-size: 16px;
		line-height: 19px;
		color: $white;

		@include max(lg) {
			display: none;
		}

		span.all {
			display: flex;
			align-items: center;
			color: rgba($white, 0.42);

			&::before {
				content: '';
				display: block;
				width: 92px;
				height: 1px;
				background-color: rgba($white, 0.3);
				margin: 0 18px;
			}
		}
	}

	&__nav {
		position: absolute;
		top: 60px;
		left: 0;

		@include max(lg) {
			display: flex;
			justify-content: space-between;
			width: 100%;
			top: 145px;
		}
	}

	&__title,
	&__text {
		padding-top: 83px;
	}

	&__title {
		max-width: 443px;
		font-size: 48px;
		line-height: 52px;
		letter-spacing: -1.4px;
		color: rgba($white, 0.23);
		margin-right: 112px;

		@include max(lg) {
			font-size: 24px;
			line-height: 24px;
			margin: 0 auto;
			padding-top: 14px;
			color: $white;
			text-align: center;
		}

		@include max(sm) {
			text-align: left;
			margin: 0;
			padding-right: 30px;
		}

		br {
			@include max(lg) {
				display: none;
			}
		}

		span {
			color: $white;
		}
	}

	&__text {
		max-width: 320px;
		font-size: 16px;
		line-height: 23px;
		letter-spacing: -0.015em;
		color: rgba($white, 0.6);
		margin-right: 30px;

		@include max(lg) {
			padding-top: 17px;
			font-size: 12px;
			line-height: 140.3%;
			color: rgba($white, 0.5);
			text-align: center;
			margin: 0 auto;
		}

		@include max(sm) {
			text-align: left;
			margin: 0 30px 0 0;
		}
	}

	&__marquee {
		font-family: $secondFont;
		font-size: 308px;
		line-height: 308px;
		letter-spacing: -16.0592px;
		color: $white;
		pointer-events: none;
		position: absolute;
		left: 0;
		bottom: 190px;

		@include max(lg) {
			display: none;
		}
	}

	&__marquee-static {
		display: none;

		@include max(lg) {
			display: block;
			text-align: center;
			order: -2;
			font-size: 10px;
			line-height: 12px;
			letter-spacing: 0.025em;
			text-transform: uppercase;
			color: $white;
			margin-bottom: 14px;
		}
	}

	&__note {
		max-width: 370px;
		padding-top: 83px;
		margin-right: -40px;
		position: relative;

		@include max(lg) {
			max-width: 150px;
			order: -1;
			padding-top: 35px;
			margin-bottom: 130px;
			left: 50%;
		}

		img {
			width: 500px;
			height: 570px;
			position: absolute;
			top: 78px;
			left: -100%;

			@include max(lg) {
				width: 201px;
				height: 229px;
				top: 32px;
				left: -105%;
			}
		}

		span {
			font-family: $secondFont;
			font-size: 48px;
			line-height: 52px;
			font-weight: 500;
			letter-spacing: -1.4px;
			color: $white;
			position: relative;

			@include max(lg) {
				font-size: 24px;
				line-height: 24px;
			}

			&::before {
				content: '';
				display: block;
				width: 22px;
				height: 22px;
				background-color: $green;
				border-radius: 50%;
				position: absolute;
				top: 18px;
				left: -37px;

				@include max(lg) {
					width: 16px;
					height: 16px;
					top: 6px;
					left: -25px;
				}
			}

			> span {
				@include max(lg) {
					display: none;
				}
			}
		}

		#{$parent} {
			&__text {
				padding-top: 35px;

				@include max(lg) {
					padding-top: 8px;
					text-align: left;
				}
			}
		}
	}

	&__mockup {
		@include max(lg) {
			order: -1;
		}

		img {
			@include max(lg) {
				max-width: 140px;
				width: 100%;
				margin: 0 auto;
			}
		}
	}
}