.first-screen {
	display: flex;
	flex-direction: column;
	height: 100vh;
	padding: 248px 0 37px;
	position: relative;

	@media (max-width: 1200px) and (max-height: 740px) {
		min-height: auto;
	}

	@include max(lg) {
		padding: 220px 0 37px;
		height: auto;
	}

	@include max(sm) {
		padding: 177px 0 37px;
	}

	&__bg {
		position: absolute;
		bottom: 0;
		left: 48%;
		z-index: 1;
		transform: translateX(-50%);

		@include max(lg) {
			display: none;
			position: relative;
			left: unset;
			bottom: unset;
			transform: none;
		}

		@media (min-width: 1280px) and (max-height: 900px) {
			display: none;
		}

		img {
			width: 100%;
			height: 100%;

			@include max(lg) {
				max-width: 201px;
				margin: 0 auto;
			}
		}

		&--mobile {
			display: none;

			@include max(lg) {
				display: block;
				margin-top: -85px;
			}
		}
	}

	&__title {
		font-size: 460px;
		line-height: 500px;
		letter-spacing: -23.1363px;
		text-align: center;
		position: relative;
		white-space: pre-line;

		@include max(xxl) {
			font-size: vw(460);
			line-height: vw(500);
			letter-spacing: vw(-23.1363);
		}

		@media (min-width: 1280px) and (max-height: 1060px) {
			font-size: 300px;
			line-height: 320px;
		}

		@media (min-width: 1280px) and (max-height: 920px) {
			font-size: 250px;
			line-height: 270px;
		}

		@include max(lg) {
			font-size: 120px;
			line-height: 140px;
			letter-spacing: -8px;
			padding-right: 0;
		}

		@include max(sm) {
			font-size: 89px;
			line-height: 100px;
			letter-spacing: -4.51949px;
		}

		span {
			&:first-child {
				color: #47d6aa;
				position: absolute;
				top: 0;
				right: 0;
				bottom: 0;
				left: 0;
			}
			&:last-child {
				display: block;
				background: linear-gradient(90deg, #47d6aa 0, #255ec1);
				-webkit-background-clip: text;
				background-clip: text;
				-webkit-text-fill-color: transparent;
				animation: fade-loop 5s cubic-bezier(0.68, -0.55, 0.27, 1.55) 0s infinite,
				contrast 5s 0.75s forwards;
			}
		}
	}

	&__content {
		border-top: 1px solid rgba($black, 0.2);
		padding-top: 30px;
		margin-top: auto;

		@include max(lg) {
			margin-top: 27px;
			padding-top: 0;
		}
	}

	&__text {
		max-width: 340px;
		font-size: 25px;
		line-height: 30px;
		letter-spacing: -0.3px;

		@include max(lg) {
			font-size: 18px;
			line-height: 21px;
		}

		@include max(sm) {
			max-width: 191px;
		}
	}

	&__bottom {
		display: flex;
		margin-top: 130px;
		padding-right: 216px;
		position: relative;
		z-index: 2;

		@media (min-width: 1280px) and (max-height: 920px) {
			margin-top: 50px;
		}

		@include max(lg) {
			margin-top: 60px;
			padding-right: 0;
		}

		@include max(sm) {
			flex-direction: column;
			margin-top: 13px;
		}
	}

	&__connect {
		padding: 28.5px 45px;
		margin-right: 22px;

		@include max(sm) {
			width: 223px;
			order: 1;
			margin-right: 0;
			margin-top: 8px;
			padding: 18px 14px;
		}
	}

	&__demo {
		@include max(sm) {
			width: 175px;
			padding: 18px 14px;
		}
	}

	&__partner {
		display: flex;
		margin-left: auto;

		@include max(lg) {
			display: none;
		}

		span {
			display: block;
			max-width: 175px;
			margin-left: 15px;
		}
	}
}