.forecast {
	position: relative;

	&__wrapper {
		display: flex;
		position: relative;
		min-height: 1666px;
		background: linear-gradient(90deg, #255EC1 14.74%, #47D6AA 99.49%);
		overflow: hidden;

		&::before {
			content: '';
			display: block;
			width: 17px;
			height: 17px;
			border-radius: 50%;
			background-color: $white;
			position: absolute;
			top: 62px;
			left: calc(66.6666% - 8.5px);

			@include max(lg) {
				display: none;
			}
		}

		@include max(lg) {
			display: none;
		}

		&--mobile {
			display: none;

			@include max(lg) {
				display: block;
				padding-top: 13px;
				min-height: auto;
			}
		}
	}

	&__col {
		width: 33.3333%;
		padding-top: 50px;
		position: relative;

		&:not(:last-of-type) {
			border-right: 1px solid rgba($white, 0.3);
		}

		.forecast__diag {
			width: 100%;
			position: absolute;
			bottom: 0;
			left: 0;
		}

		&:first-of-type {
			padding-left: 71px;
			overflow: hidden;
			z-index: 2;

			.forecast__diag {
				height: 0;
				background: rgba($white, 0.1);
			}
		}

		&:nth-of-type(2) {
			padding-left: 40px;
			overflow: hidden;
			z-index: 1;

			.forecast__diag {
				height: 0;
				background: rgba($white, 0.1);
			}
		}

		&:nth-of-type(3) {
			padding-left: 46px;
			padding-right: 56px;
			overflow: hidden;

			.forecast__diag {
				height: 0;
				background: rgba($white, 0.1);
				backdrop-filter: blur(24px);
				z-index: 1;
			}
		}
	}

	&__topic {
		@include max(lg) {
			padding-left: 18px;
		}
	}

	&__text {
		max-width: 255px;
		font-family: $secondFont;
		font-size: 25px;
		line-height: 30px;
		font-weight: 500;
		letter-spacing: -0.3px;
		color: $white;

		@include max(lg) {
			padding-left: 9px;
			font-size: 16px;
			line-height: 18px;
			letter-spacing: -0.5px;
			margin-top: 37px;
		}
	}

	&__grid {
		display: flex;
		height: 100%;
		margin-top: 24px;
		border-top: 1px solid rgba($white, 0.3);
		min-height: 584px;
		position: relative;
	}

	&__grid-col {
		width: 50%;
		padding-top: 7px;
		padding-bottom: 20px;
		position: relative;

		&:first-child {
			border-right: 1px solid rgba($white, 0.3);
		}

		&::before {
			content: '';
			display: block;
			width: 100%;
			position: absolute;
			bottom: 0;
			left: 0;
		}

		&:first-of-type {
			&::before {
				height: 73%;
				background: rgba($white, 0.1);
			}
		}

		&:nth-of-type(2) {
			&::before {
				height: 82%;
				background: rgba($white, 0.1);
			}
		}
	}

	&__bottom {
		width: 100%;
		position: absolute;
		left: 50%;
		bottom: 44px;
		transform: translateX(-50%);

		> span {
			display: block;
			font-size: 57px;
			line-height: 43px;
			letter-spacing: -2.91312px;
			color: $white;
			text-align: center;
		}
	}

	&__percent {
		display: flex;
		justify-content: space-between;
		font-family: $secondFont;

		@include max(lg) {
			padding: 0 9px;
		}

		p {
			&:first-child {
				font-size: 96px;
				line-height: 96px;
				letter-spacing: -8.5px;
				color: $white;
				margin-right: 15px;

				@include max(lg) {
					font-size: 45px;
					line-height: 55px;
					letter-spacing: -2px;
				}
			}

			&:last-child {
				font-size: 25px;
				line-height: 30px;
				letter-spacing: -0.3px;
				color: rgba($white, 0.4);

				@include max(lg) {
					font-size: 12px;
					line-height: 134.3%;
					letter-spacing: -0.015em;
					color: rgba($white, 0.56);
				}
			}
		}
	}

	&__marquee {
		font-family: $secondFont;
		font-size: 308px;
		line-height: 308px;
		letter-spacing: -16.0592px;
		color: $white;
		position: absolute;
		left: 0;
		bottom: 15%;

		&--dark {
			color: rgba($white, 0.1);
		}
	}

	&__request {
		width: 356px;
		height: 356px;
		border-radius: 500px;
		position: absolute;
		z-index: 10;
		left: calc(33.3333% - 356px / 2);
		bottom: 15%;

		@include max(lg) {
			display: none;
		}

		&--mobile {
			display: none;

			@include max(lg) {
				width: 218px;
				height: 218px;
				margin: 33px auto 0;
				display: flex;
				position: relative;
				left: unset;
				bottom: unset;
			}
		}
	}
}