.news-page {
	background-color: $blue-25;
	position: relative;
	overflow: hidden;


	&__container {
		display: flex;
		align-items: flex-end;
		min-height: 794px;
		padding-top: 228px;
		padding-bottom: 25px;

		@include max(lg) {
			min-height: auto;
			padding-top: 190px;
		}
	}

	&__title {
		font-size: 308.336px;
		line-height: 308px;
		letter-spacing: -16.0592px;
		color: $white;
		margin-top: 60px;

		@include max(xl) {
			font-size: 200px;
			line-height: 200px;
			letter-spacing: -12px;
			margin-top: 40px;
		}

		@include max(sm) {
			font-size: 70px;
			line-height: 90px;
			letter-spacing: -3px;
		}
	}

	&__wrapper {
		display: flex;
		flex-wrap: wrap;
		margin-top: 0;

		@include max(xl) {
			margin-top: 40px;
		}
	}

	&__item {
		width: 50%;
		height: 800px;
		padding: 43px 57px 67px;

		@include max(lg) {
			height: 400px;
			padding: 6px 14px 24px;
		}

		@include max(sm) {
			width: 100%;
			height: 272px;
			margin-bottom: 20px;
		}

		&:nth-child(even) {
			border-left: 1px solid rgba($black-31, 0.2);

			.news-card__bg::before {
				border-left: 1px solid rgba($black-31, 0.2);
			}
		}

		.news-card {
			&__bg {
				border-bottom: 1px solid rgba($black-31, 0.2);
			}

			&__bg::before {
				border-bottom: 2px solid rgba($black-31, 0.2);
			}

			&__top {
				padding-bottom: 46px;

				@include max(lg) {
					padding-bottom: 7px;
				}
			}

			&__day {
				padding-top: 15px;

				@include max(lg) {
					padding-top: 0;
				}
			}
		}
	}
}