.news-single {
	$parent: &;

	padding: 264px 0 127px;

	@include max(lg) {
		padding: 230px 0 127px;
	}

	@include max(sm) {
		padding: 190px 0 70px;
	}

	&__breadcrumbs {
		border-bottom: 1px solid rgba($black-31, 0.2);
		padding-bottom: 20px;
	}

	&__top {
		border-bottom: 1px solid rgba($black-31, 0.2);
		padding-bottom: 158px;

		@include max(xl) {
			padding-bottom: 50px;
		}
	}

	&__title {
		max-width: 1000px;
		font-size: 96px;
		line-height: 98px;
		letter-spacing: -4.5px;
		color: $black-31;
		@include max(xl) {
			font-size: 60px;
			line-height: 65px;
			letter-spacing: -2.5px;
		}

		@include max(sm) {
			font-size: 35px;
			line-height: 42px;
			letter-spacing: -1.40625px;
		}

		span {
			color: rgba($black-31, 0.32);
		}
	}

	&__wrapper {
		display: flex;
		padding-top: 70px;

		@include max(lg) {
			flex-direction: column;
		}

		@include max(sm) {
			padding-top: 35px;
		}

		&--mt {
			margin-top: 11px;
		}
	}

	&__left {
		width: 34.7%;

		@include max(lg) {
			width: 100%;
		}
	}

	&__right {
		width: 52%;

		@include max(xl) {
			width: 65.3%;
		}

		@include max(lg) {
			width: 100%;
		}
	}

	&__back {
		display: flex;
		align-items: center;
		justify-content: space-between;
		width: 214px;
		padding: 28.5px 27px 28.5px 36px;
		border-radius: 200px;
		background-color: rgba($blue-27, 0.1);
		transition: background-color 0.3s ease;

		@include max(lg) {
			margin-bottom: 45px;
		}

		@include max(sm) {
			width: 150px;
			padding: 18px 20px;
		}

		@include hover {
			background-color: rgba($blue-27, 0.2);
		}

		span {
			font-size: 13px;
			line-height: 15px;
			font-weight: 600;
			letter-spacing: 0.025em;
			color: $blue-26;
			text-transform: uppercase;
		}

		svg {
			fill: $blue-27;
		}
	}

	&__text {
		font-size: 25px;
		line-height: 36.5px;
		color: $black-31;

		@include max(sm) {
			font-size: 20px;
			line-height: 29px;
		}

		@include max(xs) {
			font-size: 16px;
			line-height: 20px;
		}

		p + p {
			margin-top: 37px;

			@include max(sm) {
				margin-top: 20px;
			}
		}
	}

	&__quote {
		font-size: 48px;
		line-height: 60px;
		letter-spacing: -1.4px;
		color: $black-31;
		border-top: 1px solid rgba($black-31, 0.2);
		border-bottom: 1px solid rgba($black-31, 0.2);
		margin-top: 77px;
		padding: 108px 0px;

		@include max(xl) {
			padding: 80px 0px;
			letter-spacing: -0.4px;
		}

		@include max(sm) {
			font-size: 24px;
			line-height: 30px;
			letter-spacing: -1.4px;
			margin-top: 30px;
			padding: 30px;
		}

		@include max(xs) {
			font-size: 20px;
			line-height: 27px;
			padding: 30px 0;
		}

		span {
			color: rgba($black-31, 0.39);
		}
	}

	&__image {
		height: 800px;
		margin-top: 118px;

		@include max(lg) {
			height: 500px;
			margin-top: 80px;
		}

		@include max(sm) {
			height: 350px;
			margin-top: 45px;
		}

		img {
			width: 100%;
			height: 100%;
			object-fit: cover;
		}
	}

	&--other {
		padding: 222px 0 254px;

		@include max(lg) {
			padding: 230px 0 127px;
		}

		@include max(sm) {
			padding: 190px 0 70px;
		}

		#{$parent} {
			&__top {
				margin-top: 42px;
				padding-bottom: 121px;

				@include max(xl) {
					padding-bottom: 50px;
				}
			}
		}
	}
}