.tariffs {
	background: linear-gradient(261.18deg, #255EC1 -11.8%, #47D6AA 150.2%);
	padding: 228px 0 267px;
	position: relative;

	@include max(lg) {
		padding: 190px 0 150px;
	}

	&::before {
		content: '';
		display: block;
		width: 1080px;
		height: 1080px;
		max-width: 100%;
		background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg width='1080' height='1080' viewBox='0 0 1080 1080' fill='none' xmlns='http://www.w3.org/2000/svg'%3e%3ccircle cx='540' cy='540' r='539.5' stroke='url(%23paint0_linear_253_18367)'/%3e%3cdefs%3e%3clinearGradient id='paint0_linear_253_18367' x1='777' y1='1.17873e-05' x2='274.5' y2='740.5' gradientUnits='userSpaceOnUse'%3e%3cstop stop-color='white'/%3e%3cstop offset='1' stop-color='white' stop-opacity='0'/%3e%3c/linearGradient%3e%3c/defs%3e%3c/svg%3e ");
		background-repeat: no-repeat;
		position: absolute;
		top: 300px;
		left: 50%;
		transform: translateX(-50%);
	}

	&__title {
		font-size: 308.336px;
		line-height: 308px;
		letter-spacing: -16.0592px;
		color: $white;

		@include max(lg) {
			font-size: 200px;
			line-height: 200px;
			letter-spacing: -12px;
		}

		@include max(sm) {
			font-size: 70px;
			line-height: 90px;
			letter-spacing: -3px;
		}
	}

	&__wrapper {
		display: flex;
		flex-wrap: wrap;
		margin-top: 72px;

		@include max(lg) {
			margin-top: 50px;
		}

		@include max(sm) {
			margin-top: 30px;
		}
	}

	&__col {
		width: 33.3333%;

		@include max(lg) {
			width: 50%;
		}

		@include max(sm) {
			width: 100%;
		}

		&:first-child {
			padding-top: 294px;
			padding-left: 57px;
			@include max(xl) {
				padding-left: 30px;
			}
			@include max(lg) {
				width: 100%;
				padding-top: 0;
				margin-bottom: 80px;
				padding-left: 18px;
			}

			@include max(sm) {
				padding-left: 22px;
			}
		}

		&:nth-child(2) {
			padding-top: 278px;

			@include max(lg) {
				padding-top: 0;
			}
		}
	}

	&__manager {
		width: 102px;
		height: 102px;
		border-radius: 50%;
		overflow: hidden;
	}

	&__consult-title {
		max-width: 300px;
		font-size: 25px;
		line-height: 27px;
		letter-spacing: -0.5px;
		color: $white;
		margin-top: 36px;
	}

	&__consult-text {
		max-width: 262px;
		font-size: 16px;
		line-height: 23px;
		letter-spacing: -0.015em;
		color: rgba($white, 0.3);
		margin-top: 20px;
	}

	&__write-me {
		margin-top: 21px;

		a {
			font-size: 13px;
			line-height: 15px;
			font-weight: 600;
			letter-spacing: 0.025em;
			text-transform: uppercase;
			color: $white;
			transition: opacity 0.3s ease;

			@include hover {
				opacity: 0.8;
			}
		}
	}
}