.footer {
	background: linear-gradient(59.73deg, #255EC1 14.74%, #47D6AA 99.49%);
	padding-top: 43px;
	padding-bottom: 57px;

	@include max(lg) {
		padding-top: 14px;
	}

	&__container {
		display: flex;
		flex-wrap: wrap;
		width: 1750px;
		padding-right: 77px;

		@include max(xl) {
			flex-direction: column;
			padding-right: 18px;
		}

		&--mt {
			margin-top: 65px;
		}
	}

	&__logo {
		@include max(xl) {
			max-width: 120px;
			margin-bottom: 53px;
		}

		svg {
			fill: $white;

			@include max(xl) {
				width: 100%;
				height: 100%;
			}
		}
	}

	&__part {
		display: flex;
		justify-content: space-between;

		&--1 {
			width: 28.5%;

			@include max(xl) {
				width: 100%;
			}
		}

		&--2 {
			width: 33%;

			@include max(xl) {
				width: 100%;
			}
		}

		&--3 {
			width: 30.5%;
			margin-left: auto;

			@include max(xl) {
				width: 100%;
			}
		}

		&--logo {
			flex-direction: column;
			justify-content: flex-start;
			margin-top: -234px;

			@include max(xl) {
				flex-direction: row;
				justify-content: space-between;
				margin-top: 14px;
				padding-top: 14px;
				order: 1;
				border-top: 1px solid rgba($white, 0.1);
			}

			svg {
				@include max(xl) {
					width: 58px;
					height: 43px;
				}
			}
		}

		&--mb {
			margin-bottom: 154px;

			@include max(xl) {
				margin-bottom: 0;
			}
		}

		&--right {
			justify-content: flex-end;

			@include max(xl) {
				justify-content: flex-start;
			}
		}
	}

	ul {
		@include max(xl) {
			width: 50%;
		}

		+ ul {
			max-width: 215px;
			width: 100%;

			@include max(xl) {
				max-width: 100%;
				width: 50%;
			}
		}

		li {
			+ li {
				margin-top: 15px;

				@include max(xl) {
					margin-top: 5px;
				}
			}

			&.bold {
				a {
					font-size: 25px;
					line-height: 30px;
					font-weight: 500;
					letter-spacing: -0.3px;
					color: $white;

					@include max(xl) {
						font-size: 10px;
						line-height: 12px;
						font-weight: 600;
						letter-spacing: 0.025em;
						text-transform: uppercase;
					}
				}

				+ li.bold {
					margin-top: 16px;

					@include max(xl) {
						margin-top: 2px;
					}
				}
			}

			a {
				font-family: $secondFont;
				font-size: 16px;
				line-height: 19px;
				color: rgba($white, 0.3);

				@include max(xl) {
					font-size: 12px;
					line-height: 140.3%;
					letter-spacing: -0.015em;
					color: rgba($white, 0.56);
				}

				@include hover {
					text-decoration: underline;
				}
			}
		}
	}

	&__logo-caption {
		max-width: 234px;
		font-family: $secondFont;
		font-size: 16px;
		line-height: 19px;
		color: $white;

		@include max(xl) {
			max-width: 144px;
			font-size: 12px;
			line-height: 140.3%;
			letter-spacing: -0.015em;
			color: rgba($white, 0.56);
		}
	}

	&__btn {
		width: 356px;
		height: 356px;
		border-radius: 500px;
		color: $white;
		background-color: rgba($white, 0.1);
		margin-left: auto;

		@include max(xl) {
			display: none;
		}
	}

	&__bottom-text {
		font-family: $secondFont;
		font-size: 16px;
		line-height: 19px;
		color: $white;

		@include max(xl) {
			font-size: 12px;
			line-height: 140.3%;
			letter-spacing: -0.015em;
			margin-bottom: 30px;
		}
	}
}