.menu {
	display: flex;
	padding: 0 20px;

	@include max(lg) {
		display: none;
	}

	li {
		+ li {
			margin-left: 63px;

			@include max(xl) {
				margin-left: 35px;
			}
		}

		a {
			font-size: 13px;
			line-height: 15px;
			font-weight: 600;
			text-transform: uppercase;
			transition: opacity 0.3s ease;

			@include hover {
				opacity: 0.8;
			}
		}
	}
}