extends ../layouts/default

block vars
	-
		const page = {
			title: 'Case'
		};
	- headerMod = 'header--theme-white'

block main
	article.cases-single
		.cases-single__top
			.container
				h1.cases-single__title 585 Золотой
				.cases-single__sibtitle Кейс компании
		.container.cases-single__container
			.cases-single__company-icon
				+icon('zolotoy')(width='385', height='41')
			.cases-single__text <span>Клиентская поддержка</span> в текстовых каналах
		.cases-single__wrapper
			.cases-single__col
				+cases-card(
					'Задача',
					'1',
					'Увеличить скорость ответа на вопросы пользователей, обрабатывать больше обращений без расширения штата, ' +
					'а также повысить лояльность клиентов.',
					'cases-card--green'
				)
				.cases-single__result
					.cases-single__result-title Результат
					.cases-single__result-item
						p Изменение ключевых метрик
						p Благодаря установке единого омниканального решения с искусственным интеллектом и механизмам фильтрации запросов,
							|  ювелирной сети удалось увеличить скорость ответа на вопросы пользователей в четыре раза, обрабатывать в два
							|  раза больше обращений без расширения штата, а также повысить лояльность клиентов.
					.cases-single__result-item
						p ИИ закрывает до 90% запросов
						p К омниканальной платформе было подключено более 20 групп в социальных сетях, три виджета, Telegram-бот и электронная
							|  почта – это позволило на основе работы операторов «обучить» базы знаний искусственного интеллекта,
							|  чтобы тот самостоятельно вел диалог с клиентом. В дни массовых рассылок, в соцсетях, ИИ закрывает до 90%
							|  запросов во всех цифровых каналах ювелирной сети.
					.cases-single__result-item
						p ИИ закрывает до 90% запросов
						p К омниканальной платформе было подключено более 20 групп в социальных сетях, три виджета, Telegram-бот и электронная
							|  почта – это позволило на основе работы операторов «обучить» базы знаний искусственного интеллекта,
							|  чтобы тот самостоятельно вел диалог с клиентом. В дни массовых рассылок, в соцсетях, ИИ закрывает до 90%
							|  запросов во всех цифровых каналах ювелирной сети.
					.cases-single__result-item
						p ИИ закрывает до 90% запросов
						p К омниканальной платформе было подключено более 20 групп в социальных сетях, три виджета, Telegram-бот и электронная
							|  почта – это позволило на основе работы операторов «обучить» базы знаний искусственного интеллекта,
							|  чтобы тот самостоятельно вел диалог с клиентом. В дни массовых рассылок, в соцсетях, ИИ закрывает до 90%
							|  запросов во всех цифровых каналах ювелирной сети.
					.cases-single__result-item
						p ИИ закрывает до 90% запросов
						p К омниканальной платформе было подключено более 20 групп в социальных сетях, три виджета, Telegram-бот и электронная
							|  почта – это позволило на основе работы операторов «обучить» базы знаний искусственного интеллекта,
							|  чтобы тот самостоятельно вел диалог с клиентом. В дни массовых рассылок, в соцсетях, ИИ закрывает до 90%
							|  запросов во всех цифровых каналах ювелирной сети.
				+cases-card(
					'Отзыв',
					'',
					'Совокупное число наших подписчиков превышает 4,4 млн человек. Прогнозируем, что к концу 2021 года достигнем отметки в ' +
						'5 млн. Ежемесячно мы получаем более 30 тыс. содержательных запросов в текстовых каналах, и ни одного клиента мы не можем ' +
						'заставлять ждать. Решение AutoFAQ помогает оперативно закрывать большую часть входящих запросов, не увеличивая в разы штат ' +
						'сотрудников службы клиентского сервиса',
						'cases-card--review cases-card--green',
					true
				)
			.cases-single__col.cases-single__col--pt
				+cases-card(
					'Решение',
					'2',
					'Мы внедрили автоматизированную систему на базе машинного обучения, которая успешно решила все поставленные задачи.',
					'cases-card--blue'
				)
				.cases-single__indicators(style='background-image: url("/images/bg-case.jpg")')
					.cases-single__indicators-title Показатели
					.cases-single__indicators-wrapper
						.cases-single__indicators-col
							+cases-card(
								'в 4 раза ',
								'',
								'Увеличилась скорость ответа на вопросы пользователей',
								'cases-card--small cases-card--blue'
							)
							+cases-card(
								'в 4 раза ',
								'',
								'Увеличилась скорость ответа на вопросы пользователей',
								'cases-card--small cases-card--green'
							)
							+cases-card(
								'в 4 раза ',
								'',
								'Увеличилась скорость ответа на вопросы пользователей',
								'cases-card--small cases-card--blue'
							)
						.cases-single__indicators-col
							+cases-card(
								'в 4 раза ',
								'',
								'Увеличилась скорость ответа на вопросы пользователей',
								'cases-card--glass cases-card--small cases-card--blue'
							)
							+cases-card(
								'в 4 раза ',
								'',
								'Увеличилась скорость ответа на вопросы пользователей',
								'cases-card--glass cases-card--small cases-card--blue'
							)
							+cases-card(
								'в 4 раза ',
								'',
								'Увеличилась скорость ответа на вопросы пользователей',
								'cases-card--small cases-card--blue'
							)
				.cases-single__poster
					img(src='images/case-poster.jpg', srcset='images/case-poster@2x.jpg 2x', alt='')
		.cases-single__next
			.cases-single__marquee Next case
			.cases-single__next-row
				.cases-single__show-btn
					+button('Смотреть кейс', 'button--green', '#')
				.cases-single__next-company Мегафон