extends ../layouts/default

block vars
	-
		const page = {
			title: 'Главная'
		};

block main
	include ../blocks/first-screen.pug
	include ../blocks/brands.pug
	include ../blocks/services.pug
	include ../blocks/features.pug
	include ../blocks/clients.pug
	include ../blocks/languages.pug
	include ../blocks/about.pug
	include ../blocks/nlu.pug
	include ../blocks/advantages.pug
	include ../blocks/benefits.pug
	include ../blocks/calculate.pug
	include ../blocks/news.pug
	include ../blocks/forecast.pug
