extends ../layouts/default

block vars
	-
		const page = {
			title: 'News Single'
		};

block main
	article.news-single
		.news-single__top
			.container
				.news-single__title <span>Лидеры рынка уже делают</span> клиентский сервис лучше
		.container
			.news-single__wrapper
				.news-single__left
					a.news-single__back(href='#')
						+icon('chevron-left')(width='15', height='15')
						span назад
				.news-single__right
					.news-single__text
						p Совокупное число наших подписчиков превышает 4,4 млн человек. Прогнозируем, что к концу 2021 года достигнем
							|  отметки в 5 млн. Ежемесячно мы получаем более 30 тыс. содержательных запросов в текстовых каналах, и ни
							|  одного клиента мы не можем заставлять ждать. Решение AutoFAQ помогает оперативно закрывать большую часть входящих
							|  запросов, не увеличивая в разы штат сотрудников службы клиентского сервиса Совокупное число наших подписчиков
							|  превышает 4,4 млн человек. Прогнозируем, что к концу 2021 года достигнем отметки в 5 млн. Ежемесячно мы
							|  получаем более 30 тыс. содержательных запросов в текстовых каналах, и ни одного клиента мы не можем заставлять ждать.
							|  Решение AutoFAQ помогает оперативно закрывать большую часть входящих запросов, не увеличивая в разы штат сотрудников
							|  службы клиентского сервисаСовокупное число наших подписчиков превышает 4,4 млн человек. Прогнозируем, что к концу
							|  2021 года достигнем отметки в 5 млн. Ежемесячно мы получаем более 30 тыс. содержательных запросов в текстовых каналах,
							|  и ни одного клиента мы не можем заставлять ждать. Решение AutoFAQ
						p помогает оперативно закрывать большую часть входящих запросов, не увеличивая в разы штат сотрудников службы
							|  клиентского сервиса Совокупное число наших подписчиков превышает 4,4 млн человек. Прогнозируем, что к концу
							|  2021 года достигнем отметки в 5 млн. Ежемесячно мы получаем более 30 тыс. содержательных запросов в текстовых
							|  каналах, и ни одного клиента мы не можем заставлять ждать. Решение AutoFAQ помогает оперативно закрывать большую
							|  часть входящих запросов, не увеличивая в разы штат сотрудников службы клиентского сервисаСовокупное число наших
							|  подписчиков превышает 4,4 млн человек. Прогнозируем, что к концу 2021 года достигнем отметки в 5 млн. Ежемесячно
							|  мы получаем более 30 тыс. содержательных запросов в текстовых каналах, и ни одного клиента мы не можем заставлять ждать.
							|  Решение AutoFAQ помогает оперативно закрывать большую часть входящих запросов, не увеличивая в разы штат сотрудников
							|  службы клиентского сервиса
		.container
			.news-single__quote <span>Прогнозируем, что к концу 2021 года достигнем отметки в 5 млн. Ежемесячно мы получаем более 30 тыс.</span>
				|  содержательных запросов в текстовых каналах, и ни одного клиента мы не можем заставлять ждать. Решение AutoFAQ
		.container
			.news-single__wrapper.news-single__wrapper--mt
				.news-single__left
				.news-single__right
					.news-single__text
						p Совокупное число наших подписчиков превышает 4,4 млн человек. Прогнозируем, что к концу 2021 года достигнем
							|  отметки в 5 млн. Ежемесячно мы получаем более 30 тыс. содержательных запросов в текстовых каналах, и ни
							|  одного клиента мы не можем заставлять ждать. Решение AutoFAQ помогает оперативно закрывать большую часть входящих
							|  запросов, не увеличивая в разы штат сотрудников службы клиентского сервиса Совокупное число наших подписчиков
							|  превышает 4,4 млн человек. Прогнозируем, что к концу 2021 года достигнем отметки в 5 млн. Ежемесячно мы
							|  получаем более 30 тыс. содержательных запросов в текстовых каналах, и ни одного клиента мы не можем заставлять ждать.
							|  Решение AutoFAQ помогает оперативно закрывать большую часть входящих запросов, не увеличивая в разы штат сотрудников
							|  службы клиентского сервисаСовокупное число наших подписчиков превышает 4,4 млн человек. Прогнозируем, что к концу
							|  2021 года достигнем отметки в 5 млн. Ежемесячно мы получаем более 30 тыс. содержательных запросов в текстовых каналах,
							|  и ни одного клиента мы не можем заставлять ждать. Решение AutoFAQ
						p помогает оперативно закрывать большую часть входящих запросов, не увеличивая в разы штат сотрудников службы
							|  клиентского сервиса Совокупное число наших подписчиков превышает 4,4 млн человек. Прогнозируем, что к концу
							|  2021 года достигнем отметки в 5 млн. Ежемесячно мы получаем более 30 тыс. содержательных запросов в текстовых
							|  каналах, и ни одного клиента мы не можем заставлять ждать. Решение AutoFAQ помогает оперативно закрывать большую
							|  часть входящих запросов, не увеличивая в разы штат сотрудников службы клиентского сервисаСовокупное число наших
							|  подписчиков превышает 4,4 млн человек. Прогнозируем, что к концу 2021 года достигнем отметки в 5 млн. Ежемесячно
							|  мы получаем более 30 тыс. содержательных запросов в текстовых каналах, и ни одного клиента мы не можем заставлять ждать.
							|  Решение AutoFAQ помогает оперативно закрывать большую часть входящих запросов, не увеличивая в разы штат сотрудников
							|  службы клиентского сервиса