extends ../layouts/default

block vars
	-
		const page = {
			title: 'Tariffs'
		};
	- headerMod = 'header--theme-white'

block main
	article.tariffs
		.container
			h1.tariffs__title Tariffs
		.tariffs__wrapper
			.tariffs__col
				.tariffs__consult
					.tariffs__manager
						img(src='images/manager.jpg', srcset='images/manager@2x.jpg 2x', alt='')
					.tariffs__consult-title Не нашли подходящее решение?
					.tariffs__consult-text Мы сможем подобрать для вас оптимальное, на основе полученного ранее опыта из смежных сфер
					.tariffs__write-me
						a(href='#') Написать мне
			.tariffs__col
				.tariffs-card
					.tariffs-card__content
						.tariffs-card__title Standart
						.tariffs-card__sibtitle до 10 тыс запросов / мес.
						.tariffs-card__wrapper
							.tariffs-card__col
								p Каналы <br> коммуникации
							.tariffs-card__col
								p Чат на сайте
								p Мессенджеры
								p Бизнес-продукты
								p Email
								p Яндекс.Алиса
								p Бизнес-продукты
						.tariffs-card__wrapper
							.tariffs-card__col
								p Функционал
							.tariffs-card__col
								p Нейросеть для работы <br> с минимумом данных
						.tariffs-card__wrapper.tariffs-card__wrapper--pb0
							.tariffs-card__col
								p Цена за год
							.tariffs-card__col
								p.price 2 900 000  ₽
						.tariffs-card__btn
							+button('Запросить демо', '', '#')
				.tariffs-card.tariffs-card--blue
					.tariffs-card__content
						.tariffs-card__title Enterprise
						.tariffs-card__sibtitle до 10 тыс запросов / мес.
						.tariffs-card__wrapper
							.tariffs-card__col
								p Каналы <br> коммуникации
							.tariffs-card__col
								p Чат на сайте
								p Мессенджеры
								p Бизнес-продукты
								p Email
								p Яндекс.Алиса
								p Бизнес-продукты
						.tariffs-card__wrapper
							.tariffs-card__col
								p Функционал
							.tariffs-card__col
								p Нейросеть для работы <br> с минимумом данных
						.tariffs-card__wrapper.tariffs-card__wrapper--pb0
							.tariffs-card__col
								p Цена за год
							.tariffs-card__col
								p.price 2 900 000  ₽
						.tariffs-card__btn
							+button('Запросить демо', '', '#')
			.tariffs__col
				.tariffs-card
					.tariffs-card__content
						.tariffs-card__title Lite
						.tariffs-card__sibtitle до 10 тыс запросов / мес.
						.tariffs-card__wrapper
							.tariffs-card__col
								p Каналы <br> коммуникации
							.tariffs-card__col
								p Чат на сайте
								p Мессенджеры
								p Бизнес-продукты
								p Email
								p Яндекс.Алиса
								p Бизнес-продукты
						.tariffs-card__wrapper
							.tariffs-card__col
								p Функционал
							.tariffs-card__col
								p Нейросеть для работы <br> с минимумом данных
						.tariffs-card__wrapper.tariffs-card__wrapper--pb0
							.tariffs-card__col
								p Цена за год
							.tariffs-card__col
								p.price 2 900 000  ₽
						.tariffs-card__btn
							+button('Запросить демо', '', '#')
				.tariffs-card.tariffs-card--blue
					.tariffs-card__content
						.tariffs-card__title Pro
						.tariffs-card__sibtitle до 10 тыс запросов / мес.
						.tariffs-card__wrapper
							.tariffs-card__col
								p Каналы <br> коммуникации
							.tariffs-card__col
								p Чат на сайте
								p Мессенджеры
								p Бизнес-продукты
								p Email
								p Яндекс.Алиса
								p Бизнес-продукты
						.tariffs-card__wrapper
							.tariffs-card__col
								p Функционал
							.tariffs-card__col
								p Нейросеть для работы <br> с минимумом данных
						.tariffs-card__wrapper.tariffs-card__wrapper--pb0
							.tariffs-card__col
								p Цена за год
							.tariffs-card__col
								p.price 2 900 000  ₽
						.tariffs-card__btn
							+button('Запросить демо', '', '#')
				.tariffs-card.tariffs-card--green
					.tariffs-card__content
						.tariffs-card__title Enterprise+
						.tariffs-card__sibtitle до 10 тыс запросов / мес.
						.tariffs-card__wrapper
							.tariffs-card__col
								p Каналы <br> коммуникации
							.tariffs-card__col
								p Чат на сайте
								p Мессенджеры
								p Бизнес-продукты
								p Email
								p Яндекс.Алиса
								p Бизнес-продукты
						.tariffs-card__wrapper
							.tariffs-card__col
								p Функционал
							.tariffs-card__col
								p Нейросеть для работы <br> с минимумом данных
						.tariffs-card__wrapper.tariffs-card__wrapper--pb0
							.tariffs-card__col
								p Цена за год
							.tariffs-card__col
								p.price 2 900 000  ₽
						.tariffs-card__btn
							+button('Запросить демо', '', '#')
