doctype html

include vars
block vars
include ../components/_mixins

html(lang="ru")
	head
		meta(charset="UTF-8")
		meta(name="viewport", content="width=device-width, initial-scale=1.0")
		meta(name="description" content="")
		meta(name="keywords" content="")
		link(href="css/main.min.css" rel="stylesheet")

		title= `${page.title}`

	body
		include ../partials/_sidebar
		block header
			include ../partials/_header

		main.main
			block main

		block footer
			include ../partials/_footer

		block modals

		script(src="https://code.jquery.com/jquery-3.6.1.min.js")
		script(src="js/main.min.js")
		script(src='https://maps.googleapis.com/maps/api/js?key=AIzaSyAzRYZB36YULyiUsTrSkN7tu92ziw_i6Hc')
		script(src="https://rawgit.com/intoro/Lazy_Load_JQuery/master/js/1_9_7_jquery.lazyload.js")

		block scripts
