-
	const MENU = [
		{
			url: '#',
			text: 'Продукт'
		},
		{
			url: '#',
			text: 'Решения'
		},
		{
			url: '#',
			text: 'Кейсы'
		},
		{
			url: '#',
			text: 'Тарифы'
		},
		{
			url: '#',
			text: 'Ресурсы'
		},
		{
			url: '#',
			text: 'Компания'
		}
	];

	const NEWS = [
		{
			img: '1',
			day: '20',
			month: 'января',
			year: '2022',
			text: 'Новый сотрудник PwC Ботя спасает от хаоса данных и решает тысячи вопросов ежегодно'
		},
		{
			img: '2',
			day: '05',
			month: 'января',
			year: '2022',
			text: 'Новый сотрудник PwC Ботя спасает от хаоса данных и решает тысячи вопросов ежегодно'
		},
		{
			img: '3',
			day: '10',
			month: 'января',
			year: '2022',
			text: 'Ритейлер «М.видео-Эльдорадо» построил нейросеть для ответов на вопросы покупателей'
		},
		{
			img: '4',
			day: '31',
			month: 'января',
			year: '2022',
			text: 'Сколько километров до Марса и как поймать сову?'
		}
	];

	const NEWS_PAGE = [
		{
			img: '1',
			day: '23',
			month: 'января',
			year: '2022',
			text: 'Новый сотрудник PwC Ботя спасает от хаоса данных и решает тысячи вопросов ежегодно'
		},
		{
			img: '1',
			day: '23',
			month: 'января',
			year: '2022',
			text: 'Новый сотрудник PwC Ботя спасает от хаоса данных и решает тысячи вопросов ежегодно'
		},
		{
			img: '1',
			day: '23',
			month: 'января',
			year: '2022',
			text: 'Новый сотрудник PwC Ботя спасает от хаоса данных и решает тысячи вопросов ежегодно'
		},
		{
			img: '1',
			day: '23',
			month: 'января',
			year: '2022',
			text: 'Новый сотрудник PwC Ботя спасает от хаоса данных и решает тысячи вопросов ежегодно'
		},
		{
			img: '1',
			day: '23',
			month: 'января',
			year: '2022',
			text: 'Новый сотрудник PwC Ботя спасает от хаоса данных и решает тысячи вопросов ежегодно'
		},
		{
			img: '1',
			day: '23',
			month: 'января',
			year: '2022',
			text: 'Новый сотрудник PwC Ботя спасает от хаоса данных и решает тысячи вопросов ежегодно'
		},
		{
			img: '1',
			day: '23',
			month: 'января',
			year: '2022',
			text: 'Новый сотрудник PwC Ботя спасает от хаоса данных и решает тысячи вопросов ежегодно'
		},
		{
			img: '1',
			day: '23',
			month: 'января',
			year: '2022',
			text: 'Новый сотрудник PwC Ботя спасает от хаоса данных и решает тысячи вопросов ежегодно'
		}
	];

	const PUBLISH = [
		{
			brand: '1',
			month: 'января',
			year: '2022',
			text: 'Как роботизировать техподдержку с помощью машинного обучения'
		},
		{
			brand: '2',
			month: 'января',
			year: '2022',
			text: 'Как роботизировать техподдержку с помощью машинного обучения'
		},
		{
			brand: '3',
			month: 'января',
			year: '2022',
			text: 'Как роботизировать техподдержку с помощью машинного обучения'
		},
		{
			brand: '1',
			month: 'января',
			year: '2022',
			text: 'Как роботизировать техподдержку с помощью машинного обучения'
		}
	];
