@keyframes fade-loop {
	0%, 100% {
		opacity: 1;
	}

	40%, 60% {
		opacity: .4;
	}
}

@keyframes contrast {
	0%, 100% {
		-webkit-filter: contrast(100%);
		filter: contrast(100%);
	}
	40%, 60% {
		-webkit-filter: contrast(140%);
		filter: contrast(140%);
	}
}