/* media */
$media-list: (
	'xs': 560,
	'sm': 767,
	'md': 1079,
	'lg': 1279,
	'xl': 1599,
	'xxl': 1900,
);

/* шрифты */
$mainFont: 'SuisseIntl', sans-serif;
$secondFont: 'HelveticaNeueCyr', sans-serif;

/* цвета */
$textMainColor: #484848;
$white: #ffffff;
$black: #000000;
$black-31: #313131;
$black-0d: #0d171c;
$gray-9e: #9e9e9e;
$blue-e9: #e9f1fe;
$blue-25: #255ec1;
$blue-26: #265fc1;
$blue-27: #2765c0;
$green: #43cda3;
$green-45: #45cdac;
$green-47: #47d6aa;
